firemerge/n8n-release-watcher.json
{
  "name": "Firemerge Release Watcher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 0
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/lvu/firemerge/tags",
        "options": {}
      },
      "id": "get-tags",
      "name": "Get GitHub Tags",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "jsCode": "// Get workflow static data to track last processed version\nconst staticData = $getWorkflowStaticData('global');\n\n// Get the latest tag from the GitHub API response\n// n8n splits the array response into separate items, so first item = latest tag\nconst items = $input.all();\nif (!items || items.length === 0 || !items[0].json) {\n  return [{ json: { isNew: false, version: null, error: 'No tags found' } }];\n}\n\n// First item is the latest tag (GitHub returns tags sorted by creation date desc)\nconst latestTag = items[0].json;\nif (!latestTag.name) {\n  return [{ json: { isNew: false, version: null, error: 'Invalid tag data' } }];\n}\n\n// Extract version (strip 'v' prefix if present)\nlet version = latestTag.name;\nif (version.startsWith('v')) {\n  version = version.substring(1);\n}\n\n// Check if this is a new version\nconst lastVersion = staticData.lastVersion_firemerge || null;\nconst isNew = lastVersion !== version;\n\nreturn [{\n  json: {\n    isNew: isNew,\n    version: version,\n    lastVersion: lastVersion,\n    tagName: latestTag.name,\n    commitSha: latestTag.commit?.sha || null\n  }\n}];"
      },
      "id": "check-version",
      "name": "Check New Version",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-new-version",
              "leftValue": "={{ $json.isNew }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-new",
      "name": "Is New Version?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/anthony-spruyt/container-images/actions/workflows/build-and-push.yaml/dispatches",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ref\": \"main\",\n  \"inputs\": {\n    \"image\": \"firemerge\",\n    \"version\": \"{{ $json.version }}\",\n    \"dry_run\": \"false\"\n  }\n}",
        "options": {}
      },
      "id": "trigger-build",
      "name": "Trigger Build Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, -100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CONFIGURE_ME",
          "name": "GitHub PAT"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "noreply@example.com",
        "toEmail": "CONFIGURE_ME@example.com",
        "subject": "=Firemerge {{ $('Check New Version').item.json.version }} - Build triggered",
        "emailType": "text",
        "message": "=A new Firemerge release has been detected and a container build has been triggered.\n\nVersion: {{ $('Check New Version').item.json.version }}\nPrevious Version: {{ $('Check New Version').item.json.lastVersion || 'None (first run)' }}\nTag: {{ $('Check New Version').item.json.tagName }}\nCommit: {{ $('Check New Version').item.json.commitSha || 'N/A' }}\n\nGitHub Actions:\nhttps://github.com/anthony-spruyt/container-images/actions/workflows/build-and-push.yaml\n\nUpstream Release:\nhttps://github.com/lvu/firemerge/releases/tag/{{ $('Check New Version').item.json.tagName }}",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1100, -100],
      "credentials": {
        "smtp": {
          "id": "CONFIGURE_ME",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Update static data with the new version\nconst staticData = $getWorkflowStaticData('global');\nconst version = $('Check New Version').item.json.version;\nstaticData.lastVersion_firemerge = version;\n\nreturn [{\n  json: {\n    success: true,\n    version: version,\n    message: `Updated last version to ${version}`\n  }\n}];"
      },
      "id": "update-state",
      "name": "Update State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, -100]
    }
  ],
  "connections": {
    "Daily Check": {
      "main": [
        [
          {
            "node": "Get GitHub Tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get GitHub Tags": {
      "main": [
        [
          {
            "node": "Check New Version",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check New Version": {
      "main": [
        [
          {
            "node": "Is New Version?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New Version?": {
      "main": [
        [
          {
            "node": "Trigger Build Workflow",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Trigger Build Workflow": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Notification": {
      "main": [
        [
          {
            "node": "Update State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
