sungather/n8n-release-watcher.json
{
  "name": "SunGather Release Watcher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 0
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/bohdan-s/SunGather/tags",
        "options": {}
      },
      "id": "get-tags",
      "name": "Get GitHub Tags",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/anthony-spruyt/container-images/releases",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "get-releases",
      "name": "Get GitHub Releases",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "jsCode": "// Get the latest tag from the upstream GitHub API response\n// Access tags from earlier node since releases are now the input\nconst tags = $('Get GitHub Tags').all();\nif (!tags || tags.length === 0 || !tags[0].json) {\n  return [{ json: { isNew: false, version: null, error: 'No tags found' } }];\n}\n\n// First item is the latest tag (GitHub returns tags sorted by creation date desc)\nconst latestTag = tags[0].json;\nif (!latestTag.name) {\n  return [{ json: { isNew: false, version: null, error: 'Invalid tag data' } }];\n}\n\n// Keep version as-is from upstream tag (needed for git checkout)\nconst version = latestTag.name;\n\n// Check GitHub releases to see if this version was already built\n// Release tag format: sungather-{version} or sungather-{version}-rN (for retries)\nconst releases = $input.first().json;\nconst releasePattern = new RegExp(`^sungather-${version.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&')}(-r[0-9]+)?$`);\nconst existingRelease = Array.isArray(releases) \n  ? releases.find(r => releasePattern.test(r.tag_name))\n  : null;\n\nconst isNew = !existingRelease;\n\nreturn [{\n  json: {\n    isNew: isNew,\n    version: version,\n    existingRelease: existingRelease ? existingRelease.tag_name : null,\n    commitSha: latestTag.commit?.sha || null\n  }\n}];"
      },
      "id": "check-version",
      "name": "Check New Version",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-new-version",
              "leftValue": "={{ $json.isNew }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-new",
      "name": "Is New Version?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "jsCode": "// Update static data with the new version (kept for backwards compatibility)\nconst staticData = $getWorkflowStaticData('global');\nconst version = $('Check New Version').item.json.version;\nstaticData.lastVersion_sungather = version;\n\nreturn [{\n  json: {\n    success: true,\n    version: version,\n    message: `Updated last version to ${version}`\n  }\n}];"
      },
      "id": "update-state",
      "name": "Update State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, -100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/anthony-spruyt/container-images/actions/workflows/build-and-push.yaml/dispatches",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ref\": \"main\",\n  \"inputs\": {\n    \"image\": \"sungather\",\n    \"version\": \"{{ $('Check New Version').item.json.version }}\",\n    \"dry_run\": \"false\"\n  }\n}",
        "options": {}
      },
      "id": "trigger-build",
      "name": "Trigger Build Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, -100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CONFIGURE_ME",
          "name": "GitHub PAT"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "noreply@example.com",
        "toEmail": "CONFIGURE_ME@example.com",
        "subject": "=SunGather {{ $('Check New Version').item.json.version }} - Build triggered",
        "emailType": "text",
        "message": "=A new SunGather release has been detected and a container build has been triggered.\n\nVersion: {{ $('Check New Version').item.json.version }}\nExisting Release: {{ $('Check New Version').item.json.existingRelease || 'None' }}\nCommit: {{ $('Check New Version').item.json.commitSha || 'N/A' }}\n\nGitHub Actions:\nhttps://github.com/anthony-spruyt/container-images/actions/workflows/build-and-push.yaml\n\nUpstream Release:\nhttps://github.com/bohdan-s/SunGather/releases/tag/{{ $('Check New Version').item.json.version }}",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1540, -100],
      "credentials": {
        "smtp": {
          "id": "CONFIGURE_ME",
          "name": "SMTP"
        }
      }
    }
  ],
  "connections": {
    "Daily Check": {
      "main": [
        [
          {
            "node": "Get GitHub Tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get GitHub Tags": {
      "main": [
        [
          {
            "node": "Get GitHub Releases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get GitHub Releases": {
      "main": [
        [
          {
            "node": "Check New Version",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check New Version": {
      "main": [
        [
          {
            "node": "Is New Version?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New Version?": {
      "main": [
        [
          {
            "node": "Update State",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Update State": {
      "main": [
        [
          {
            "node": "Trigger Build Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Build Workflow": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
