chrony/n8n-release-watcher.json
{
  "name": "Chrony Alpine Package Watcher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 0
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/anthony-spruyt/container-images/main/chrony/Dockerfile",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "get-dockerfile",
      "name": "Get Dockerfile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "jsCode": "// Parse Alpine version from Dockerfile\nconst dockerfile = $input.first().json.data;\nconst match = dockerfile.match(/FROM\\s+alpine:(\\d+\\.\\d+)/);\nconst alpineVersion = match ? match[1] : null;\n\nif (!alpineVersion) {\n  return [{ json: { error: 'Could not parse Alpine version from Dockerfile' } }];\n}\n\nreturn [{ json: { alpineVersion } }];"
      },
      "id": "parse-alpine-version",
      "name": "Parse Alpine Version",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "url": "=https://git.alpinelinux.org/aports/plain/main/chrony/APKBUILD?h={{ $json.alpineVersion }}-stable",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "get-apkbuild",
      "name": "Get Alpine APKBUILD",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/anthony-spruyt/container-images/releases",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "get-releases",
      "name": "Get GitHub Releases",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "jsCode": "// Get Alpine version from earlier node\nconst alpineVersion = $('Parse Alpine Version').item.json.alpineVersion;\n\n// Parse chrony version from APKBUILD\nconst apkbuild = $('Get Alpine APKBUILD').item.json.data;\nconst pkgverMatch = apkbuild.match(/pkgver=([0-9.]+)/);\nconst pkgrelMatch = apkbuild.match(/pkgrel=([0-9]+)/);\n\nif (!pkgverMatch) {\n  return [{ json: { isNew: false, version: null, error: 'Could not parse pkgver from APKBUILD' } }];\n}\n\nconst pkgver = pkgverMatch[1];\nconst pkgrel = pkgrelMatch ? pkgrelMatch[1] : '0';\nconst version = `${pkgver}-r${pkgrel}`;\n\n// Check GitHub releases to see if this version was already built\n// Release tag format: chrony-{version} or chrony-{version}-rN (for retries)\nconst releases = $input.first().json;\nconst releasePattern = new RegExp(`^chrony-${pkgver}(-r[0-9]+)?$`);\nconst existingRelease = Array.isArray(releases) \n  ? releases.find(r => releasePattern.test(r.tag_name))\n  : null;\n\nconst isNew = !existingRelease;\n\nreturn [{\n  json: {\n    isNew: isNew,\n    version: pkgver,\n    fullVersion: version,\n    pkgver: pkgver,\n    pkgrel: pkgrel,\n    existingRelease: existingRelease ? existingRelease.tag_name : null,\n    alpineVersion: alpineVersion\n  }\n}];"
      },
      "id": "check-version",
      "name": "Check New Version",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-new-version",
              "leftValue": "={{ $json.isNew }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-new",
      "name": "Is New Version?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "jsCode": "// Update static data with the new version (kept for backwards compatibility)\nconst staticData = $getWorkflowStaticData('global');\nconst version = $('Check New Version').item.json.fullVersion;\nstaticData.lastVersion_chrony = version;\n\nreturn [{\n  json: {\n    success: true,\n    version: version,\n    message: `Updated last version to ${version}`\n  }\n}];"
      },
      "id": "update-state",
      "name": "Update State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, -100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/anthony-spruyt/container-images/actions/workflows/build-and-push.yaml/dispatches",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ref\": \"main\",\n  \"inputs\": {\n    \"image\": \"chrony\",\n    \"version\": \"{{ $('Check New Version').item.json.version }}\",\n    \"dry_run\": \"false\"\n  }\n}",
        "options": {}
      },
      "id": "trigger-build",
      "name": "Trigger Build Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, -100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CONFIGURE_ME",
          "name": "GitHub PAT"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "noreply@example.com",
        "toEmail": "CONFIGURE_ME@example.com",
        "subject": "=Chrony {{ $('Check New Version').item.json.fullVersion }} - Build triggered",
        "emailType": "text",
        "message": "=A new Chrony package version has been detected in Alpine Linux and a container build has been triggered.\n\nPackage Version: {{ $('Check New Version').item.json.fullVersion }}\nExisting Release: {{ $('Check New Version').item.json.existingRelease || 'None' }}\nAlpine Version: {{ $('Check New Version').item.json.alpineVersion }}\n\nGitHub Actions:\nhttps://github.com/anthony-spruyt/container-images/actions/workflows/build-and-push.yaml\n\nAlpine Package:\nhttps://pkgs.alpinelinux.org/package/v{{ $('Check New Version').item.json.alpineVersion }}/main/x86_64/chrony\n\nUpstream Project:\nhttps://chrony-project.org/",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1980, -100],
      "credentials": {
        "smtp": {
          "id": "CONFIGURE_ME",
          "name": "SMTP"
        }
      }
    }
  ],
  "connections": {
    "Daily Check": {
      "main": [
        [
          {
            "node": "Get Dockerfile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Dockerfile": {
      "main": [
        [
          {
            "node": "Parse Alpine Version",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Alpine Version": {
      "main": [
        [
          {
            "node": "Get Alpine APKBUILD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Alpine APKBUILD": {
      "main": [
        [
          {
            "node": "Get GitHub Releases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get GitHub Releases": {
      "main": [
        [
          {
            "node": "Check New Version",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check New Version": {
      "main": [
        [
          {
            "node": "Is New Version?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New Version?": {
      "main": [
        [
          {
            "node": "Update State",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Update State": {
      "main": [
        [
          {
            "node": "Trigger Build Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Build Workflow": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
