chrony/n8n-release-watcher.json
{
  "name": "Chrony Alpine Package Watcher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23
            }
          ]
        }
      },
      "name": "Daily Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -688,
        512
      ]
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/anthony-spruyt/container-images/main/chrony/Dockerfile",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "name": "Get Dockerfile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        512
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse Alpine version from Dockerfile\nconst dockerfile = $input.first().json.data;\nconst match = dockerfile.match(/FROM\\s+alpine:(\\d+\\.\\d+)/);\nconst alpineVersion = match ? match[1] : null;\n\nif (!alpineVersion) {\n  return [{ json: { error: 'Could not parse Alpine version from Dockerfile' } }];\n}\n\nreturn [{ json: { alpineVersion } }];"
      },
      "name": "Parse Alpine Version",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        512
      ]
    },
    {
      "parameters": {
        "url": "=https://git.alpinelinux.org/aports/plain/main/chrony/APKBUILD?h={{ $json.alpineVersion }}-stable",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "name": "Get Alpine APKBUILD",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -32,
        512
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse chrony version from APKBUILD\nconst apkbuild = $input.first().json.data;\nconst alpineVersion = $('Parse Alpine Version').item.json.alpineVersion;\nconst pkgverMatch = apkbuild.match(/pkgver=([0-9.]+)/);\nconst pkgrelMatch = apkbuild.match(/pkgrel=([0-9]+)/);\n\nif (!pkgverMatch) {\n  return [{ json: { error: 'Could not parse pkgver from APKBUILD' } }];\n}\n\nconst pkgver = pkgverMatch[1];\nconst pkgrel = pkgrelMatch ? pkgrelMatch[1] : '0';\n\nreturn [{ json: { pkgver, pkgrel, fullVersion: `${pkgver}-r${pkgrel}`, alpineVersion } }];"
      },
      "name": "Parse APKBUILD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        512
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/anthony-spruyt/container-images/git/matching-refs/tags/chrony-{{ $json.pkgver }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "name": "Check Matching Tags",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        192,
        512
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get version info from Parse APKBUILD node\nconst pkgver = $('Parse APKBUILD').item.json.pkgver;\nconst pkgrel = $('Parse APKBUILD').item.json.pkgrel;\nconst fullVersion = $('Parse APKBUILD').item.json.fullVersion;\nconst alpineVersion = $('Parse APKBUILD').item.json.alpineVersion;\n\n// Parse matching git refs from GitHub API (returned as text to handle empty arrays)\nconst responseText = $input.first().json.data;\nconst refs = JSON.parse(responseText);\n\n// Check if any matching ref corresponds to this pkgver\n// Matches chrony-{pkgver} and chrony-{pkgver}-rN (pkgrel variants)\nconst releasePattern = new RegExp(`^refs/tags/chrony-${pkgver}(-r[0-9]+)?$`);\nconst existingRef = refs.find(r => releasePattern.test(r.ref));\n\nconst isNew = !existingRef;\n\nreturn [{\n  json: {\n    isNew: isNew,\n    version: pkgver,\n    fullVersion: fullVersion,\n    pkgver: pkgver,\n    pkgrel: pkgrel,\n    existingTag: existingRef ? existingRef.ref.replace('refs/tags/', '') : null,\n    alpineVersion: alpineVersion\n  }\n}];"
      },
      "name": "Check New Version",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        512
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-new-version",
              "leftValue": "={{ $json.isNew }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Is New Version?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        640,
        512
      ]
    },
    {
      "parameters": {
        "jsCode": "// Update static data with the new version (kept for backwards compatibility)\nconst staticData = $getWorkflowStaticData('global');\nconst version = $('Check New Version').item.json.fullVersion;\nstaticData.lastVersion_chrony = version;\n\nreturn [{\n  json: {\n    success: true,\n    version: version,\n    message: `Updated last version to ${version}`\n  }\n}];"
      },
      "name": "Update State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        416
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/anthony-spruyt/container-images/actions/workflows/ci.yaml/dispatches",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ref\": \"main\",\n  \"inputs\": {\n    \"image\": \"chrony\",\n    \"version\": \"{{ $('Check New Version').item.json.version }}\",\n    \"dry_run\": \"false\"\n  }\n}",
        "options": {}
      },
      "name": "Trigger Build Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1072,
        416
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CONFIGURE_ME",
          "name": "GitHub PAT"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "noreply@example.com",
        "toEmail": "CONFIGURE_ME@example.com",
        "subject": "=Chrony {{ $('Check New Version').item.json.fullVersion }} - Build triggered",
        "options": {}
      },
      "name": "Send Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1296,
        416
      ],
      "credentials": {
        "smtp": {
          "id": "CONFIGURE_ME",
          "name": "SMTP"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Check": {
      "main": [
        [
          {
            "node": "Get Dockerfile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Dockerfile": {
      "main": [
        [
          {
            "node": "Parse Alpine Version",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Alpine Version": {
      "main": [
        [
          {
            "node": "Get Alpine APKBUILD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Alpine APKBUILD": {
      "main": [
        [
          {
            "node": "Parse APKBUILD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse APKBUILD": {
      "main": [
        [
          {
            "node": "Check Matching Tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Matching Tags": {
      "main": [
        [
          {
            "node": "Check New Version",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check New Version": {
      "main": [
        [
          {
            "node": "Is New Version?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New Version?": {
      "main": [
        [
          {
            "node": "Update State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update State": {
      "main": [
        [
          {
            "node": "Trigger Build Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Build Workflow": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
