chrony/n8n-release-watcher.json
{
  "name": "Chrony Alpine Package Watcher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23
            }
          ]
        }
      },
      "id": "819ebde0-198b-4014-aac3-fc5c1fca6997",
      "name": "Daily Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-720, 736]
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/anthony-spruyt/container-images/main/chrony/Dockerfile",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "e1ac4b93-1f0d-4e5e-935b-fc5ee7f5aeeb",
      "name": "Get Dockerfile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-512, 736]
    },
    {
      "parameters": {
        "jsCode": "// Parse Alpine version from Dockerfile\nconst dockerfile = $input.first().json.data;\nconst match = dockerfile.match(/FROM\\s+alpine:(\\d+\\.\\d+)/);\nconst alpineVersion = match ? match[1] : null;\n\nif (!alpineVersion) {\n  return [{ json: { error: 'Could not parse Alpine version from Dockerfile' } }];\n}\n\nreturn [{ json: { alpineVersion } }];"
      },
      "id": "8de7a9a1-4b66-46bd-baa3-66ca2ab858c2",
      "name": "Parse Alpine Version",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-288, 736]
    },
    {
      "parameters": {
        "url": "=https://git.alpinelinux.org/aports/plain/main/chrony/APKBUILD?h={{ $json.alpineVersion }}-stable",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "3ff6bfaf-6a33-403e-aba0-a03da73a464f",
      "name": "Get Alpine APKBUILD",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-64, 736]
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/anthony-spruyt/container-images/releases",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "id": "5d6a6437-b236-4bad-b3bd-7d9d4eedb189",
      "name": "Get GitHub Releases",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [160, 736]
    },
    {
      "parameters": {
        "jsCode": "// Get Alpine version from earlier node\nconst alpineVersion = $('Parse Alpine Version').item.json.alpineVersion;\n\n// Parse chrony version from APKBUILD\nconst apkbuild = $('Get Alpine APKBUILD').item.json.data;\nconst pkgverMatch = apkbuild.match(/pkgver=([0-9.]+)/);\nconst pkgrelMatch = apkbuild.match(/pkgrel=([0-9]+)/);\n\nif (!pkgverMatch) {\n  return [{ json: { isNew: false, version: null, error: 'Could not parse pkgver from APKBUILD' } }];\n}\n\nconst pkgver = pkgverMatch[1];\nconst pkgrel = pkgrelMatch ? pkgrelMatch[1] : '0';\nconst version = `${pkgver}-r${pkgrel}`;\n\n// Check GitHub releases to see if this version was already built\n// Release tag format: chrony-{version} or chrony-{version}-rN (for retries)\n// Get ALL releases from input (n8n splits array responses into multiple items)\nconst releases = $input.all().map(item => item.json);\nconst releasePattern = new RegExp(`^chrony-${pkgver}(-r[0-9]+)?$`);\nconst existingRelease = releases.find(r => releasePattern.test(r.tag_name));\n\nconst isNew = !existingRelease;\n\nreturn [{\n  json: {\n    isNew: isNew,\n    version: pkgver,\n    fullVersion: version,\n    pkgver: pkgver,\n    pkgrel: pkgrel,\n    existingRelease: existingRelease ? existingRelease.tag_name : null,\n    alpineVersion: alpineVersion\n  }\n}];"
      },
      "id": "4a5eaadd-8027-4212-8073-d31c0842bea8",
      "name": "Check New Version",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [384, 736]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-new-version",
              "leftValue": "={{ $json.isNew }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "628efa82-06af-42c6-af03-d94f30354eaa",
      "name": "Is New Version?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [608, 736]
    },
    {
      "parameters": {
        "jsCode": "// Update static data with the new version (kept for backwards compatibility)\nconst staticData = $getWorkflowStaticData('global');\nconst version = $('Check New Version').item.json.fullVersion;\nstaticData.lastVersion_chrony = version;\n\nreturn [{\n  json: {\n    success: true,\n    version: version,\n    message: `Updated last version to ${version}`\n  }\n}];"
      },
      "id": "8d7f0049-28e4-40b3-89ef-efd0d65c31ad",
      "name": "Update State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [816, 640]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/anthony-spruyt/container-images/actions/workflows/ci.yaml/dispatches",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ref\": \"main\",\n  \"inputs\": {\n    \"image\": \"chrony\",\n    \"version\": \"{{ $('Check New Version').item.json.version }}\",\n    \"dry_run\": \"false\"\n  }\n}",
        "options": {}
      },
      "id": "e4256070-c45b-4ada-a6d0-253ff3b52875",
      "name": "Trigger Build Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 640],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CONFIGURE_ME",
          "name": "GitHub PAT"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "noreply@example.com",
        "toEmail": "CONFIGURE_ME@example.com",
        "subject": "=Chrony {{ $('Check New Version').item.json.fullVersion }} - Build triggered",
        "options": {}
      },
      "id": "0f3f511d-7d8e-456f-9593-7dae980c8ee8",
      "name": "Send Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1264, 640],
      "credentials": {
        "smtp": {
          "id": "CONFIGURE_ME",
          "name": "SMTP"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Check": {
      "main": [
        [
          {
            "node": "Get Dockerfile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Dockerfile": {
      "main": [
        [
          {
            "node": "Parse Alpine Version",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Alpine Version": {
      "main": [
        [
          {
            "node": "Get Alpine APKBUILD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Alpine APKBUILD": {
      "main": [
        [
          {
            "node": "Get GitHub Releases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get GitHub Releases": {
      "main": [
        [
          {
            "node": "Check New Version",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check New Version": {
      "main": [
        [
          {
            "node": "Is New Version?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New Version?": {
      "main": [
        [
          {
            "node": "Update State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update State": {
      "main": [
        [
          {
            "node": "Trigger Build Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Build Workflow": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
